.dice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 1rem;
}

.dice-button {
  padding: 12px 24px;
  font-size: 1.1rem;
  background-color: #2ecc71;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.dice-image {
  width: 60px;
  height: 60px;
}
.home-square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  box-sizing: border-box;
}

.home-pons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
}

.pon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid black;
}
.red-zone .pon { background-color: #d10000; }
.green-zone .pon { background-color: #007f00; }
.yellow-zone .pon { background-color: #b79400; }
.blue-zone .pon { background-color: #0066cc; }
